flows_59-2.json
[{"id":"fe00e8b.e748d18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b38dee43.84fde8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"967a594c.01bb2","type":"inject","z":"b38dee43.84fde8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["354462b2.bd3f86"]]},{"id":"52998336.f0c50c","type":"function","z":"b38dee43.84fde8","name":"to Array","func":"var input = msg.payload;\nvar starttext = \"หมายเหตุ\";\nvar start = input.search(starttext)+8;\nvar end = input.length;\nmsg.payload = input.substring(start, end);\nfor(var i = 0; i < 4; i++) {\n    start = msg.payload.search(starttext)+8;\n    end = msg.payload.length;\n    msg.payload = msg.payload.substring(start, end);\n} \n//msg.payload = start;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["9fbab5e2.031a68"]]},{"id":"c33932e1.c5a1","type":"debug","z":"b38dee43.84fde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":200,"wires":[]},{"id":"14ab8ff9.05c868","type":"converter","z":"b38dee43.84fde8","name":"encoder","from":"win874","x":360,"y":280,"wires":[["52998336.f0c50c"]]},{"id":"9fbab5e2.031a68","type":"html","z":"b38dee43.84fde8","name":"","property":"payload","tag":"td","ret":"text","as":"single","x":420,"y":520,"wires":[["28443123.7a0076"]]},{"id":"b540443c.d99e1","type":"http in","z":"b38dee43.84fde8","name":"load","url":"/load","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["413d98c4.90c7e"]]},{"id":"e91ea069.71e99","type":"http response","z":"b38dee43.84fde8","name":"","statusCode":"","headers":{},"x":830,"y":380,"wires":[]},{"id":"28443123.7a0076","type":"function","z":"b38dee43.84fde8","name":"split","func":"var input = msg.payload;\nvar output = [];\nfor (var i = 0; i < input.length - 9; i+=10) {\n    output.push(input.slice(i,i+10));\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["c33932e1.c5a1","e91ea069.71e99"]]},{"id":"4806c741.3905f8","type":"http request","z":"b38dee43.84fde8","name":"59-2 post","method":"POST","ret":"bin","url":"http://capital.sec.or.th/webapp/corp_fin2/result59d.php","tls":"","x":190,"y":440,"wires":[["14ab8ff9.05c868"]]},{"id":"413d98c4.90c7e","type":"function","z":"b38dee43.84fde8","name":"Post 59-2","func":"msg.payload = { \n    rad_date: \"2\",\n    cmb_sd: \"26\",\n    cmb_sm: \"04\",\n    cmb_sy: \"2561\",\n    cmb_ed: \"26\",\n    cmb_em: \"04\",\n    cmb_ey: \"2561\",\n    dd: \"27\",\n    mm: \"04\",\n    yy: \"2561\"\n};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":360,"wires":[["4806c741.3905f8"]]},{"id":"354462b2.bd3f86","type":"http request","z":"b38dee43.84fde8","name":"59-2","method":"GET","ret":"bin","url":"http://capital.sec.or.th/webapp/corp_fin2/daily59.php?order=DATE","tls":"","x":280,"y":180,"wires":[[]]},{"id":"c1f790d5.caeca8","type":"catch","z":"b38dee43.84fde8","name":"","scope":null,"x":100,"y":120,"wires":[[]]}]