flows_59-2.json
[{"id":"10cb2717.cf00f1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9cb5d892.7593c8","type":"function","z":"10cb2717.cf00f1","name":"to Array","func":"var input = msg.payload;\nvar starttext = \"หมายเหตุ\";\nvar start = input.search(starttext)+8;\nvar end = input.length;\nmsg.payload = input.substring(start, end);\n/*for(var i = 0; i < 4; i++) {\n    start = msg.payload.search(starttext)+8;\n    end = msg.payload.length;\n    msg.payload = msg.payload.substring(start, end);\n} */\n//msg.payload = start;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["cadb525c.786c1"]]},{"id":"b838c930.21ad98","type":"converter","z":"10cb2717.cf00f1","name":"encoder","from":"utf8","x":360,"y":280,"wires":[["9cb5d892.7593c8"]]},{"id":"cadb525c.786c1","type":"html","z":"10cb2717.cf00f1","name":"","property":"payload","tag":"td","ret":"text","as":"single","x":420,"y":520,"wires":[["ad332de9.70169"]]},{"id":"296ba74f.99225","type":"http in","z":"10cb2717.cf00f1","name":"load","url":"/load","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["ecf4607c.19604"]]},{"id":"860b6308.e3e33","type":"http response","z":"10cb2717.cf00f1","name":"","statusCode":"","headers":{},"x":830,"y":380,"wires":[]},{"id":"ad332de9.70169","type":"function","z":"10cb2717.cf00f1","name":"split","func":"var input = msg.payload;\nvar output = [];\nfunction getAbbr(name){\n    var start = name.lastIndexOf(\"(\");\n    var end = name.lastIndexOf(\")\");\n    return name.slice(start+1, end)\n}\nfor (var i = 0; i < input.length - 8; i+=9) {\n    var row = {\n        'stock_abbr': getAbbr(input[i]),\n        'company': input[i],\n        'director': input[i+1],\n        'relationship': input[i+2],\n        'stock_type': input[i+3],\n        'doc_date': input[i+4],\n        //'received_date': input[i+5],\n        'amount': input[i+5],\n        'price': input[i+6],\n        'transaction_type': input[i+7],\n        'remark': input[i+8]\n    };\n    output.push(row);\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["ffacd73d.e39f88","5c1facab.e91bb4"]]},{"id":"59bf7e8f.b7961","type":"http request","z":"10cb2717.cf00f1","name":"59-2 post","method":"POST","ret":"bin","url":"http://capital.sec.or.th/webapp/corp_fin2/result59d.php","tls":"","x":156.00000381469727,"y":590.0000123977661,"wires":[[]]},{"id":"a74b5235.1359a","type":"function","z":"10cb2717.cf00f1","name":"Post 59-2 old","func":"var today = new Date();\nvar dd = today.getDate();\nvar mm = today.getMonth()+1; //January is 0!\nvar yyyy = today.getFullYear()+543;\nvar syy = parseInt(msg.payload.syy) + 543;\nvar eyy = parseInt(msg.payload.eyy) + 543;\n\nif(dd<10) {\n    dd = '0'+dd\n} else{\n    dd = dd.toString();\n}\n\nif(mm<10) {\n    mm = '0'+mm\n} else {\n    mm = mm.toString();\n}\n\noutput = { \n    rad_date: \"2\",\n    cmb_sd: msg.payload.sdd,\n    cmb_sm: msg.payload.smm,\n    cmb_sy: syy.toString(),\n    cmb_ed: msg.payload.edd,\n    cmb_em: msg.payload.emm,\n    cmb_ey: eyy.toString(),\n    dd: msg.payload.edd,\n    mm: msg.payload.emm,\n    yy: eyy.toString(),\n};\nmsg.payload = output\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":165,"y":548.0000143051147,"wires":[[]]},{"id":"ffacd73d.e39f88","type":"json","z":"10cb2717.cf00f1","name":"","property":"payload","action":"","pretty":false,"x":680,"y":360,"wires":[["860b6308.e3e33"]]},{"id":"5c1facab.e91bb4","type":"debug","z":"10cb2717.cf00f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":622.1666679382324,"y":213.00006866455078,"wires":[]},{"id":"ecf4607c.19604","type":"function","z":"10cb2717.cf00f1","name":"Get 59-2 new","func":"var today = new Date();\nvar dd = today.getDate();\nvar mm = today.getMonth()+1; //January is 0!\nvar yyyy = today.getFullYear();\nvar syy = msg.payload.syy;\nvar eyy = msg.payload.eyy;\nvar smm = msg.payload.smm;\nvar emm = msg.payload.emm;\nvar sdd = msg.payload.sdd;\nvar edd = msg.payload.edd;\n\n/*if(sdd<10) {\n    sdd = '0'+sdd\n} else{\n    sdd = sdd.toString();\n}\n\nif(smm<10) {\n    smm = '0'+smm\n} else {\n    smm = smm.toString();\n}\n\nif(edd<10) {\n    edd = '0'+edd\n} else{\n    edd = edd.toString();\n}\n\nif(emm<10) {\n    emm = '0'+emm\n} else {\n    emm = emm.toString();\n}*/\n\noutput = {\n    \"DateType\": \"1\",\n    \"DateFrom\": syy+smm+sdd,\n    \"DateTo\": eyy+emm+edd,\n    //\"ctl00$CPH$BSDateFrom\": new Date(syy,smm,sdd),\n    //\"ctl00$CPH$BSDateTo\": new Date(eyy,emm,edd),\n    //ctl00$CPH$ddlCompany: \"\"\n    /*rad_date: \"2\",\n    cmb_sd: msg.payload.sdd,\n    cmb_sm: msg.payload.smm,\n    cmb_sy: syy.toString(),\n    cmb_ed: msg.payload.edd,\n    cmb_em: msg.payload.emm,\n    cmb_ey: eyy.toString(),\n    dd: msg.payload.edd,\n    mm: msg.payload.emm,\n    yy: eyy.toString(),*/\n};\nmsg.payload = output\nmsg.query = \"?DateType=1&DateFrom=\"+output.DateFrom+\"&DateTo=\"+output.DateTo;\nmsg.headers = {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8\",\n    //\"Accept-Encoding\": \"gzip, deflate, br\",\n    //\"Accept-Language\": \"en-US,en;q=0.9\",\n    //\"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":337.00001525878906,"wires":[["58b1ca02.3cfaf4","5c1facab.e91bb4"]]},{"id":"1597f547.2a6a0b","type":"inject","z":"10cb2717.cf00f1","name":"test input","topic":"test input","payload":"{\"syy\":\"2018\",\"smm\":\"01\",\"sdd\":\"14\",\"eyy\":\"2018\",\"emm\":\"02\",\"edd\":\"17\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":200,"wires":[["ecf4607c.19604"]]},{"id":"58b1ca02.3cfaf4","type":"http request","z":"10cb2717.cf00f1","name":"59-2 GET","method":"GET","ret":"bin","url":"https://market.sec.or.th/public/idisc/th/Viewmore/r59-2{{{query}}}","tls":"","x":196.00000762939453,"y":410.0000114440918,"wires":[["b838c930.21ad98"]]}]