flows_59-2.json
[{"id":"10cb2717.cf00f1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"29571d8.f191a62","type":"inject","z":"10cb2717.cf00f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["b350d99a.24eee"]]},{"id":"b350d99a.24eee","type":"http request","z":"10cb2717.cf00f1","name":"59-2","method":"GET","ret":"bin","url":"http://capital.sec.or.th/webapp/corp_fin2/daily59.php?order=DATE","tls":"","x":280,"y":180,"wires":[[]]},{"id":"9cb5d892.7593c8","type":"function","z":"10cb2717.cf00f1","name":"to Array","func":"var input = msg.payload;\nvar starttext = \"หมายเหตุ\";\nvar start = input.search(starttext)+8;\nvar end = input.length;\nmsg.payload = input.substring(start, end);\nfor(var i = 0; i < 4; i++) {\n    start = msg.payload.search(starttext)+8;\n    end = msg.payload.length;\n    msg.payload = msg.payload.substring(start, end);\n} \n//msg.payload = start;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["cadb525c.786c1"]]},{"id":"e0784ff9.2c34b8","type":"debug","z":"10cb2717.cf00f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":200,"wires":[]},{"id":"b838c930.21ad98","type":"converter","z":"10cb2717.cf00f1","name":"encoder","from":"win874","x":360,"y":280,"wires":[["9cb5d892.7593c8"]]},{"id":"cadb525c.786c1","type":"html","z":"10cb2717.cf00f1","name":"","property":"payload","tag":"td","ret":"text","as":"single","x":420,"y":520,"wires":[["ad332de9.70169"]]},{"id":"296ba74f.99225","type":"http in","z":"10cb2717.cf00f1","name":"load","url":"/load","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["a74b5235.1359a"]]},{"id":"860b6308.e3e33","type":"http response","z":"10cb2717.cf00f1","name":"","statusCode":"","headers":{},"x":830,"y":380,"wires":[]},{"id":"ad332de9.70169","type":"function","z":"10cb2717.cf00f1","name":"split","func":"var input = msg.payload;\nvar output = [];\nfor (var i = 0; i < input.length - 9; i+=10) {\n    var row = {\n        'stock_abbr': input[i],\n        'director': input[i+1],\n        'relationship': input[i+2],\n        'stock_type': input[i+3],\n        'doc_date': input[i+4],\n        'received_date': input[i+5],\n        'amount': input[i+6],\n        'price': input[i+7],\n        'transaction_type': input[i+8],\n        'remark': input[i+9]\n    };\n    output.push(row);\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["ffacd73d.e39f88"]]},{"id":"59bf7e8f.b7961","type":"http request","z":"10cb2717.cf00f1","name":"59-2 post","method":"POST","ret":"bin","url":"http://capital.sec.or.th/webapp/corp_fin2/result59d.php","tls":"","x":190,"y":440,"wires":[["b838c930.21ad98"]]},{"id":"a74b5235.1359a","type":"function","z":"10cb2717.cf00f1","name":"Post 59-2","func":"var today = new Date();\nvar dd = today.getDate();\nvar mm = today.getMonth()+1; //January is 0!\nvar yyyy = today.getFullYear();\n\nif(dd<10) {\n    dd = '0'+dd\n} \n\nif(mm<10) {\n    mm = '0'+mm\n} \n\noutput = { \n    rad_date: \"2\",\n    cmb_sd: msg.payload.sdd,\n    cmb_sm: msg.payload.smm,\n    cmb_sy: msg.payload.syy,\n    cmb_ed: msg.payload.edd,\n    cmb_em: msg.payload.emm,\n    cmb_ey: msg.payload.eyy,\n    dd: dd,\n    mm: mm,\n    yy: yyyy\n};\nmsg.payload = output\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":360,"wires":[["59bf7e8f.b7961"]]},{"id":"ffacd73d.e39f88","type":"json","z":"10cb2717.cf00f1","name":"","property":"payload","action":"","pretty":false,"x":680,"y":360,"wires":[["e0784ff9.2c34b8","860b6308.e3e33"]]}]